@font-face {
  font-family: "MuliRegular";
  src : url("/assets/fonts/Muli-Regular.ttf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "MuliBold";
  src : url("/assets/fonts/Muli-Bold.ttf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "MuliSemibold";
  src : url("/assets/fonts/Muli-SemiBold.ttf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "MuliLight";
  src : url("/assets/fonts/Muli-Light.ttf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "MuliBlack";
  src : url("/assets/fonts/Muli-Black.ttf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "SegoeUIRegular";
  src: url("/assets/fonts/SegoeUIRegular.eot");
  src: url("/assets/fonts/SegoeUIRegular.eot?#iefix")format("embedded-opentype"),
  url("/assets/fonts/SegoeUIRegular.woff") format("woff"),
  url("/assets/fonts/SegoeUIRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "SegoeUIBold";
  src: url("/assets/fonts/SegoeUIBold.eot");
  src: url("/assets/fonts/SegoeUIBold.eot?#iefix")format("embedded-opentype"),
  url("/assets/fonts/SegoeUIBold.woff") format("woff"),
  url("/assets/fonts/SegoeUIBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "SegoeUIItalic";
  src: url("/assets/fonts/SegoeUIItalic.eot");
  src: url("/assets/fonts/SegoeUIItalic.eot?#iefix")format("embedded-opentype"),
  url("/assets/fonts/SegoeUIItalic.woff") format("woff"),
  url("/assets/fonts/SegoeUIItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "SegoeUILight";
  src: url("/assets/fonts/SegoeUILight.eot");
  src: url("/assets/fonts/SegoeUILight.eot?#iefix")format("embedded-opentype"),
  url("/assets/fonts/SegoeUILight.woff") format("woff"),
  url("/assets/fonts/SegoeUILight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "SegoeUISemiBold";
  src: url("/assets/fonts/SegoeUISemiBold.eot");
  src: url("/assets/fonts/SegoeUISemiBold.eot?#iefix")format("embedded-opentype"),
  url("/assets/fonts/SegoeUISemiBold.woff") format("woff"),
  url("/assets/fonts/SegoeUISemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
