// MAIN STYLES
$background-main: #18191D;
$font-size-main: 18px;
$section-border: 1px solid #2a2a32;

// FONTS
$font-color-main: #FFF;
$font-color-alter: #B3B3B3;

// BUTTONS
$btn-bg-live: #F72B2C;
$btn-line-height-main: 50px;
$btn-bg-main: #F72B2B;
$btn-hover-main: #F73636;
$btn-pressed-main: #C72323;

$btn-bg-alter: #46474b;
$btn-hover-alter: #5e5f61;
$btn-pressed-alter: #303135;

$btn-color: #FFF;
$btn-border: none;
$btn-border-radius: 5px;
$btn-width: 270px;
$btn-height: 50px;

$btn-live-lg-width: 80px;
$btn-live-lg-height: 34px;
$btn-live-lg-border-radius: 3px;
$btn-live-lg-font-size: 22px;
$btn-live-lg-line-height: 32px;

$btn-live-sm-width: 46px;
$btn-live-sm-height: 26px;
$btn-live-sm-border-radius: 3px;
$btn-live-sm-font-size: 16px;
$btn-live-sm-line-height: 24px;

// CHAT
$chart-bg-color-main: $btn-bg-main;
$chart-bg-color-alter: #71798D;

// MOBILE
$mobile-menu-border: 1px solid #2A2B31;
